{% extends "site.html" %}
{% load i18n %}

{% block body %}
  <main class="container">
    {% block title %}{% endblock title %}
    <hr/>
    {% block content %} {% endblock content %}
  </main>

  <footer class="container-fluid pt-5 pb-2 bg-dark text-light">
    <div class="d-flex justify-content-center flex-wrap">
      <a class="text-light mx-2" target="_blank" href="https://www.the-muri-competition.ch/de/impressum">{% trans "Privacy Policy" %}</a>
      <a class="text-light mx-2" target="_blank" href="https://www.the-muri-competition.ch/de/impressum">{% trans "Impressum" %}</a>
      <a class="text-light mx-2" target="_blank" href="https://www.the-muri-competition.ch/de/impressum">{% trans "Contact" %}</a>
    </div>
  </footer>
{% endblock body %}
