{% extends "profile_base.html" %}
{% load crispy_forms_tags i18n %}

{% block document_title %}{% trans "Update information" %}{% endblock document_title %}

{% block title %}
  <h1>{% trans "Update information" %}</h1>
{% endblock title %}

{% block content %}
  <p>
    {% blocktrans %}You can update your information here. Be careful if you change your e-mail address, if you don't have access to your mail <em>you will not be able to access your information!</em>{% endblocktrans %}
  </p>
  {% crispy form %}
  <p>
    {% blocktrans %}By sending this form you agree to the terms and conditions of the muri competition, as well as the processing of your personal details as stated in the privacy policy.{% endblocktrans %}
  </p>
{% endblock content %}
